{% extends 'layouts/layout.html' %}

{% block body %}

<style>
    @keyframes wipe-in-left {
        from {
        clip-path: inset(0 0 0 100%);
        }
        to {
        clip-path: inset(0 0 0 0);
        }
    }
    
    [transition-style="in:wipe:left"] {
        animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-left both;
    }
</style>
<div>
    <h1 transition-style="in:wipe:left">Summary</h1>
</div>
<div>
    <h3 transition-style="in:wipe:left">Dedicated software engineering student with a solid foundation in Python, Flask, and relational databases, complemented by hands-on experience
        in developing inventory and contact management systems to optimize workflows. Skilled in analyzing user requirements and delivering efficient,
        scalable solutions through innovative projects. Passionate about leveraging technology to create impactful software solutions and continuously
        seeking opportunities to grow professionally and embrace the latest advancements in the field.</h3>
</div>

<style>
    .background-image {
        width: 100%;
        height: 1000px;
        background-image: url("{{ url_for('static', filename='imageportfolio.jpg') }}");
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    
</style>

<div class="background-image">
    <p>Text over the background image</p>
</div>

{% endblock %}